@font-face {
  font-family: 'Casablanca';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("~assets/fonts/MJ_CASABLANCA-LIGHT.TTF");
}

@font-face {
  font-family: 'Casablanca';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("~assets/fonts/MJ_CASABLANCA.TTF");
}

@font-face {
  font-family: 'Casablanca';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("~assets/fonts/MJ_CASABLANCA-HEAVY.TTF");
}
/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Black.eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum)_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum)_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum)_Black.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Bold.eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum)_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Medium.eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum)_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Light.eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum)_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf') format('truetype');
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('~static/fonts/eot/IRANSansWeb(FaNum).eot');
  src: url('~static/fonts/eot/IRANSansWeb(FaNum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
  url('~static/fonts/woff2/IRANSansWeb(FaNum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
  url('~static/fonts/woff/IRANSansWeb(FaNum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('~static/fonts/ttf/IRANSansWeb(FaNum).ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/iranyekanwebbold.eot');
  src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebbold.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/eot/iranyekanwebthin.eot');
  src: url('../fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebthin.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebthin.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/iranyekanweblight.eot');
  src: url('../fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanweblight.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/iranyekanwebregular.eot');
  src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebregular.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/iranyekanwebmedium.eot');
  src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebmedium.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/eot/iranyekanwebextrabold.eot');
  src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eot/iranyekanwebblack.eot');
  src: url('../fonts/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebblack.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebblack.ttf') format('truetype');
  }
  
  @font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/eot/iranyekanwebextrablack.eot');
  src: url('../fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'), /* IE6-8 /
  url('../fonts/woff/iranyekanwebextrablack.woff') format('woff'), / FF3.6+, IE9, Chrome6+, Saf5.1+*/
  url('../fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
  }
@import "variables";
body{
  font-family: 'iranyekan',Segoe UI,Arial;
  direction: rtl;
  text-align: right;
}
.btn{
  border-radius: 27px;
  padding: 14px 20px;
}
.container{
  max-width: 1316px;
}
ul{
  padding-right: 0;
  list-style: none;
}
//Section Read More Button For Mobile <=767px

.section-m-btn{
  height: 38px;
  width: 90%;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #255B89 ;
  color:#255B89;
  margin-top: 30px;
  border-radius: 27px;
  @media (min-width:768px) {
    display: none;
  }
}
.section-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: normal;
  white-space: nowrap;
  margin-bottom: 40px;
  font-family: 'Casablanca', IRANSans, Arial, serif;

  .title{
    font-family: 'Casablanca';
    position: relative;
    text-align: right;
    margin-left: 10px;
    color: #255B89;
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 0;
    &:before{
      content: "";
      display: inline-block;
      width: 71px;
      height: 9px;
      background: #143954;
      @media (max-width:767px) {
      margin-left: 7px;
        width: 46px;
        background-color: #255B89;
      }

    }
    @media (max-width:767px) {
      font-size: 20px;
    }
  }
  .shape{
    width: 100%;
    margin-bottom: 2px;
    @media (max-width:767px) {
      display: none;
    }
   svg{
     width: 100%;
   }
  }
  .link{
    font-size: 18px;
    color: $blue;
    margin-right: 16px;
    font-weight: 100;
    @media (max-width:767px) {
      display: none;
    }

  }
}


// Global Notification //
.notification--info {
  background: $color-cream;
  border-radius: 10px;
  direction: rtl;
  padding: 20px 16px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;

  span{
    display: flex;
    align-items: center;
    justify-content: space-between;
   @media (max-width:767px) {
     display: flex;
     flex-direction: column;
     text-align: center;
   }
    a {
      border: 1px $color-orange solid;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 500;
      color: $color-orange;
      padding: 9px 37px;
      transition: all 0.3s ease;
      @media (max-width:991px) {
        white-space: nowrap;
      }
      @media (max-width:767px) {
        margin-top: 15px;
      }
      &:hover {
        background: $color-orange;
        color: white;
        text-decoration: none;
      }
    }
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.disabled-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffbf;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  border-radius: 6px;
}