  
  @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/eot/PeydaWeb-Thin.eot');
    src: url('../fonts/eot/PeydaWeb-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-Thin.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/peydaWeb-light.eot');
    src: url('../fonts/eot/peydaWeb-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/peydaWeb-light.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/PeydaWeb-Regular.eot');
    src: url('../fonts/eot/PeydaWeb-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-Regular.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/PeydaWeb-Medium.eot');
    src: url('../fonts/eot/PeydaWeb-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-Medium.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/eot/PeydaWeb-ExtraBold.eot');
    src: url('../fonts/eot/PeydaWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-ExtraBold.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/eot/PeydaWeb-Black.eot');
    src: url('../fonts/eot/PeydaWeb-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-Black.woff') format('woff')
    }
    
    @font-face {
    font-family: peyda;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/eot/PeydaWeb-ExtraBold.eot');
    src: url('../fonts/eot/PeydaWeb-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/woff/PeydaWeb-ExtraBold.woff') format('woff')
    }
@import "variables";
body{
  font-family: peyda,Segoe UI,Arial;
  direction: rtl;
  text-align: right;
}
.btn{
  border-radius: 27px;
  padding: 14px 20px;
}
.container{
  max-width: 1316px;
}
ul{
  padding-right: 0;
  list-style: none;
}
//Section Read More Button For Mobile <=767px

.section-m-btn{
  height: 38px;
  width: 90%;
  margin:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #255B89 ;
  color:#255B89;
  margin-top: 30px;
  border-radius: 27px;
  @media (min-width:768px) {
    display: none;
  }
}
.section-title{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  word-wrap: normal;
  white-space: nowrap;
  margin-bottom: 40px;
  font-family: 'Casablanca', IRANSans, Arial, serif;

  .title{
    font-family: 'Casablanca';
    position: relative;
    text-align: right;
    margin-left: 10px;
    color: #255B89;
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 0;
    &:before{
      content: "";
      display: inline-block;
      width: 71px;
      height: 9px;
      background: #143954;
      @media (max-width:767px) {
      margin-left: 7px;
        width: 46px;
        background-color: #255B89;
      }

    }
    @media (max-width:767px) {
      font-size: 20px;
    }
  }
  .shape{
    width: 100%;
    margin-bottom: 2px;
    @media (max-width:767px) {
      display: none;
    }
   svg{
     width: 100%;
   }
  }
  .link{
    font-size: 18px;
    color: $blue;
    margin-right: 16px;
    font-weight: 100;
    @media (max-width:767px) {
      display: none;
    }

  }
}


// Global Notification //
.notification--info {
  background: $color-cream;
  border-radius: 10px;
  direction: rtl;
  padding: 20px 16px;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;

  span{
    display: flex;
    align-items: center;
    justify-content: space-between;
   @media (max-width:767px) {
     display: flex;
     flex-direction: column;
     text-align: center;
   }
    a {
      border: 1px $color-orange solid;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 500;
      color: $color-orange;
      padding: 9px 37px;
      transition: all 0.3s ease;
      @media (max-width:991px) {
        white-space: nowrap;
      }
      @media (max-width:767px) {
        margin-top: 15px;
      }
      &:hover {
        background: $color-orange;
        color: white;
        text-decoration: none;
      }
    }
  }

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }
 
  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }
 
  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

.disabled-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffffbf;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  border-radius: 6px;
}