$dark-blue:#143954;
$blue: #3384af;
$light-blue: #a5c9dc;
$color-cream: #ffe5ce;
$color-orange: #ff7600;
$lighter-blue: #dfe7ee;
$color-black:#1A1A1D;
$input-border-color:#DFDFDF;


$fw-medium:500;
$fw-damibold:600;
$fw-regular:normal;

